/****** Object:  Database [Hr]    Script Date: 2022/1/10 上午 12:22:38 ******/
/*
CREATE DATABASE [Hr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
*/
/****** Object:  Table [dbo].[Cms]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cms](
	[Id] [varchar](10) NOT NULL,
	[CmsType] [varchar](10) NOT NULL,
	[DataType] [varchar](10) NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[Html] [nvarchar](max) NULL,
	[Note] [nvarchar](255) NULL,
	[FileName] [nvarchar](100) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Creator] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Reviser] [varchar](10) NULL,
	[Revised] [datetime] NULL,
 CONSTRAINT [PK_Cms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustInput]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustInput](
	[Id] [varchar](10) NOT NULL,
	[FldText] [nchar](10) NULL,
	[FldInt] [int] NULL,
	[FldDec] [float] NULL,
	[FldCheck] [bit] NULL,
	[FldRadio] [tinyint] NULL,
	[FldSelect] [varchar](10) NULL,
	[FldDate] [date] NULL,
	[FldDt] [datetime] NULL,
	[FldFile] [nvarchar](100) NULL,
	[FldColor] [varchar](10) NULL,
	[FldTextarea] [nvarchar](max) NULL,
	[FldHtml] [nvarchar](max) NULL,
 CONSTRAINT [PK_CustInput] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dept]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[MgrId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Dept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[AgentId] [varchar](10) NOT NULL,
	[LeaveType] [char](1) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Hours] [decimal](5, 1) NOT NULL,
	[FlowLevel] [tinyint] NOT NULL,
	[FlowStatus] [char](1) NOT NULL,
	[FileName] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[Creator] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Reviser] [varchar](10) NULL,
	[Revised] [datetime] NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Account] [varchar](20) NOT NULL,
	[Pwd] [varchar](32) NOT NULL,
	[DeptId] [varchar](10) NOT NULL,
	[PhotoFile] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserJob]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserJob](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[JobName] [nvarchar](30) NOT NULL,
	[JobType] [nvarchar](30) NULL,
	[JobPlace] [nvarchar](30) NULL,
	[StartEnd] [varchar](30) NULL,
	[CorpName] [nvarchar](30) NULL,
	[CorpUsers] [int] NOT NULL,
	[IsManaged] [bit] NOT NULL,
	[JobDesc] [varchar](max) NULL,
 CONSTRAINT [PK_UserJob] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLang]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLang](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[LangName] [nvarchar](30) NOT NULL,
	[ListenLevel] [tinyint] NOT NULL,
	[SpeakLevel] [tinyint] NOT NULL,
	[ReadLevel] [tinyint] NOT NULL,
	[WriteLevel] [tinyint] NOT NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UserLang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLicense]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLicense](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[LicenseName] [nvarchar](30) NOT NULL,
	[StartEnd] [varchar](30) NULL,
	[FileName] [nvarchar](100) NULL,
 CONSTRAINT [PK_UserLicense] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSchool]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSchool](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[SchoolName] [nvarchar](30) NOT NULL,
	[SchoolDept] [nvarchar](20) NULL,
	[SchoolType] [nvarchar](20) NULL,
	[StartEnd] [varchar](30) NULL,
	[Graduated] [bit] NOT NULL,
 CONSTRAINT [PK_UserSchool] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSkill]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSkill](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[SkillName] [nvarchar](30) NOT NULL,
	[SkillDesc] [nvarchar](500) NULL,
	[Sort] [int] NOT NULL,
 CONSTRAINT [PK_UserSkill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpCode]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpCode](
	[Type] [varchar](20) NOT NULL,
	[Value] [varchar](10) NOT NULL,
	[Name_zhTW] [nvarchar](30) NOT NULL,
	[Name_zhCN] [nvarchar](30) NULL,
	[Name_enUS] [nvarchar](30) NULL,
	[Sort] [int] NOT NULL,
	[Ext] [varchar](30) NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_XpCode] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpEasyRpt]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpEasyRpt](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TplFile] [nvarchar](100) NOT NULL,
	[ToEmails] [varchar](500) NOT NULL,
	[Sql] [nvarchar](500) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_XpEasyRpt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpFlow]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpFlow](
	[Id] [varchar](10) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Portrait] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Flow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpFlowLine]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpFlowLine](
	[Id] [varchar](10) NOT NULL,
	[FlowId] [varchar](10) NOT NULL,
	[StartNode] [varchar](10) NOT NULL,
	[EndNode] [varchar](10) NOT NULL,
	[CondStr] [varchar](255) NULL,
	[Sort] [smallint] NOT NULL,
 CONSTRAINT [PK_FlowLine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpFlowNode]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpFlowNode](
	[Id] [varchar](10) NOT NULL,
	[FlowId] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[NodeType] [char](1) NOT NULL,
	[PosX] [smallint] NOT NULL,
	[PosY] [smallint] NOT NULL,
	[SignerType] [varchar](2) NULL,
	[SignerValue] [varchar](30) NULL,
	[PassType] [char](1) NOT NULL,
	[PassNum] [smallint] NULL,
 CONSTRAINT [PK_FlowNode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpFlowSign]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpFlowSign](
	[Id] [varchar](10) NOT NULL,
	[FlowId] [varchar](10) NOT NULL,
	[SourceId] [varchar](10) NOT NULL,
	[NodeName] [nvarchar](30) NOT NULL,
	[FlowLevel] [smallint] NOT NULL,
	[TotalLevel] [smallint] NOT NULL,
	[SignerId] [varchar](10) NOT NULL,
	[SignerName] [nvarchar](20) NOT NULL,
	[SignStatus] [char](1) NOT NULL,
	[SignTime] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_FlowSign] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpImportLog]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpImportLog](
	[Id] [varchar](10) NOT NULL,
	[Type] [varchar](10) NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[OkCount] [smallint] NOT NULL,
	[FailCount] [smallint] NOT NULL,
	[TotalCount] [smallint] NOT NULL,
	[CreatorName] [nvarchar](30) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_XpImportLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpProg]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpProg](
	[Id] [varchar](10) NOT NULL,
	[Code] [varchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Icon] [varchar](20) NULL,
	[Url] [varchar](100) NULL,
	[Sort] [smallint] NOT NULL,
	[AuthRow] [tinyint] NOT NULL,
	[FunCreate] [tinyint] NOT NULL,
	[FunRead] [tinyint] NOT NULL,
	[FunUpdate] [tinyint] NOT NULL,
	[FunDelete] [tinyint] NOT NULL,
	[FunPrint] [tinyint] NOT NULL,
	[FunExport] [tinyint] NOT NULL,
	[FunView] [tinyint] NOT NULL,
	[FunOther] [tinyint] NOT NULL,
 CONSTRAINT [PK_Prog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpRole]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpRole](
	[Id] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpRoleProg]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpRoleProg](
	[Id] [varchar](10) NOT NULL,
	[RoleId] [varchar](10) NOT NULL,
	[ProgId] [varchar](10) NOT NULL,
	[FunCreate] [tinyint] NOT NULL,
	[FunRead] [tinyint] NOT NULL,
	[FunUpdate] [tinyint] NOT NULL,
	[FunDelete] [tinyint] NOT NULL,
	[FunPrint] [tinyint] NOT NULL,
	[FunExport] [tinyint] NOT NULL,
	[FunView] [tinyint] NOT NULL,
	[FunOther] [tinyint] NOT NULL,
 CONSTRAINT [PK_RoleProg] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpTranLog]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpTranLog](
	[Sn] [int] IDENTITY(1,1) NOT NULL,
	[RowId] [varchar](10) NOT NULL,
	[TableName] [varchar](30) NOT NULL,
	[ColName] [varchar](30) NULL,
	[OldValue] [nvarchar](500) NULL,
	[NewValue] [nvarchar](500) NULL,
	[Act] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_XpTranLog] PRIMARY KEY CLUSTERED 
(
	[Sn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XpUserRole]    Script Date: 2022/1/10 上午 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XpUserRole](
	[Id] [varchar](10) NOT NULL,
	[UserId] [varchar](10) NOT NULL,
	[RoleId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cms] ([Id], [CmsType], [DataType], [Title], [Text], [Html], [Note], [FileName], [StartTime], [EndTime], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'D6ZF8WZ96A', N'Msg', NULL, N'系統維護公告', N'系統為提升更好的服務品質，並因應 Windows 公告重大修補漏洞更新，本系統安排於 110/12/30 (星期四) AM 10:00-12:00 進行系統維護作業，屆時將暫停相關服務。
造成不便，敬請見諒！', NULL, N'', N'', CAST(N'2021-12-30T00:00:00.000' AS DateTime), CAST(N'2021-12-30T12:00:00.000' AS DateTime), 1, N'Peter', CAST(N'2021-12-23T16:29:02.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[CustInput] ([Id], [FldText], [FldInt], [FldDec], [FldCheck], [FldRadio], [FldSelect], [FldDate], [FldDt], [FldFile], [FldColor], [FldTextarea], [FldHtml]) VALUES (N'D6Z5Q6JUSA', N'text      ', 2, 1.5, 1, 1, N'1', CAST(N'2021-12-02' AS Date), CAST(N'2021-12-02T09:00:00.000' AS DateTime), N'cat3.jpg', NULL, N'area', N'<p>test</p><p><b style=""><font style="" color="#ff9c00">test2</font></b></p>')
GO
INSERT [dbo].[Dept] ([Id], [Name], [MgrId]) VALUES (N'GM', N'管理部', N'Peter')
INSERT [dbo].[Dept] ([Id], [Name], [MgrId]) VALUES (N'RD', N'研發部', N'Nick')
GO
INSERT [dbo].[Leave] ([Id], [UserId], [AgentId], [LeaveType], [StartTime], [EndTime], [Hours], [FlowLevel], [FlowStatus], [FileName], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'5ZMJQQQBYA', N'Alex', N'Nick', N'S', CAST(N'2021-03-10T09:00:00.000' AS DateTime), CAST(N'2021-03-10T18:00:00.000' AS DateTime), CAST(8.0 AS Decimal(5, 1)), 3, N'Y', N'醫院証明.jpg', 1, N'Alex', CAST(N'2021-03-07T22:19:00.000' AS DateTime), N'Alex', CAST(N'2021-12-23T13:15:50.000' AS DateTime))
INSERT [dbo].[Leave] ([Id], [UserId], [AgentId], [LeaveType], [StartTime], [EndTime], [Hours], [FlowLevel], [FlowStatus], [FileName], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'D6Z20WUQGA', N'Alex', N'Nick', N'P', CAST(N'2021-12-01T09:00:00.000' AS DateTime), CAST(N'2021-12-01T18:00:00.000' AS DateTime), CAST(8.0 AS Decimal(5, 1)), 4, N'Y', N'', 1, N'Alex', CAST(N'2021-12-23T11:34:15.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Leave] ([Id], [UserId], [AgentId], [LeaveType], [StartTime], [EndTime], [Hours], [FlowLevel], [FlowStatus], [FileName], [Status], [Creator], [Created], [Reviser], [Revised]) VALUES (N'D6Z2T9WRSA', N'Alex', N'Nick', N'P', CAST(N'2021-12-03T09:00:00.000' AS DateTime), CAST(N'2021-12-03T18:00:00.000' AS DateTime), CAST(8.0 AS Decimal(5, 1)), 4, N'Y', N'', 1, N'Alex', CAST(N'2021-12-23T11:51:32.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[User] ([Id], [Name], [Account], [Pwd], [DeptId], [PhotoFile], [Status]) VALUES (N'Alex', N'Alex Chen', N'aa', N'aa', N'RD', N'Photo.png', 1)
INSERT [dbo].[User] ([Id], [Name], [Account], [Pwd], [DeptId], [PhotoFile], [Status]) VALUES (N'D6ZMH4E87A', N't01', N'T01', N'T01', N'RD', NULL, 1)
INSERT [dbo].[User] ([Id], [Name], [Account], [Pwd], [DeptId], [PhotoFile], [Status]) VALUES (N'D6ZMH4NU5A', N't02', N'T02', N'T02', N'RD', NULL, 1)
GO
INSERT [dbo].[UserJob] ([Id], [UserId], [JobName], [JobType], [JobPlace], [StartEnd], [CorpName], [CorpUsers], [IsManaged], [JobDesc]) VALUES (N'5XLQJ73PZA', N'Alex', N'程式設計師', N'PG', N'台北市', N'2011/12 ~ 2015/9', N'公司1', 10, 0, N'77123')
INSERT [dbo].[UserJob] ([Id], [UserId], [JobName], [JobType], [JobPlace], [StartEnd], [CorpName], [CorpUsers], [IsManaged], [JobDesc]) VALUES (N'5YG7AZMCJA', N'Alex', N'系統分析師', N'SA', N'台北市', N'2016/12 ~ 2019/9', N'公司2', 50, 0, N'test')
GO
INSERT [dbo].[UserLang] ([Id], [UserId], [LangName], [ListenLevel], [SpeakLevel], [ReadLevel], [WriteLevel], [Sort]) VALUES (N'5XL9RMXH3A', N'Alex', N'中文', 3, 3, 3, 3, 0)
INSERT [dbo].[UserLang] ([Id], [UserId], [LangName], [ListenLevel], [SpeakLevel], [ReadLevel], [WriteLevel], [Sort]) VALUES (N'5YG7AZMLFA', N'Alex', N'英文', 2, 2, 2, 2, 1)
GO
INSERT [dbo].[UserLicense] ([Id], [UserId], [LicenseName], [StartEnd], [FileName]) VALUES (N'5XTM6SN9FA', N'Alex', N'系統分析師', N'2016/12 ~ 2017/9', N'_green wall.jpg')
INSERT [dbo].[UserLicense] ([Id], [UserId], [LicenseName], [StartEnd], [FileName]) VALUES (N'5Y1MNT0KXA', N'Alex', N'專案管理師', N'2018/12 ~ 2019/9', N'dog.jpg')
GO
INSERT [dbo].[UserSchool] ([Id], [UserId], [SchoolName], [SchoolDept], [SchoolType], [StartEnd], [Graduated]) VALUES (N'5XL9R3JE9A', N'Alex', N'大學1', N'資訊', N'大學', N'2005/9 ~ 2009/6', 1)
INSERT [dbo].[UserSchool] ([Id], [UserId], [SchoolName], [SchoolDept], [SchoolType], [StartEnd], [Graduated]) VALUES (N'5YG7AZMHCA', N'Alex', N'研究所1', N'資訊', N'研究所', N'2009/9 ~ 2011/6', 1)
GO
INSERT [dbo].[UserSkill] ([Id], [UserId], [SkillName], [SkillDesc], [Sort]) VALUES (N'5XLQHPB6KA', N'Alex', N'系統框架開發', N'', 0)
INSERT [dbo].[UserSkill] ([Id], [UserId], [SkillName], [SkillDesc], [Sort]) VALUES (N'5YG7AZMS4A', N'Alex', N'專案管理', N'', 1)
GO
INSERT [dbo].[XpCode] ([Type], [Value], [Name_zhTW], [Name_zhCN], [Name_enUS], [Sort], [Ext], [Note]) VALUES (N'AndOr', N'{A}', N'And', N'And', N'And', 1, N'Flow', N'括號for避開regular')
INSERT [dbo].[XpCode] ([Type], [Value], [Name_zhTW], [Name_zhCN], [Name_enUS], [Sort], [Ext], [Note]) VALUES (N'AndOr', N'{O}', N'Or', N'Or', N'Or', 2, N'Flow', NULL)
INSERT [dbo].[XpCode] ([Type], [Value], [Name_zhTW], [Name_zhCN], [Name_enUS], [Sort], [Ext], [Note]) VALUES (N'AuthRange', N'0', N'無', N'無', N'None', 1, NULL, NULL)
GO
INSERT [dbo].[XpEasyRpt] ([Id], [Name], [TplFile], [ToEmails], [Sql], [Status]) VALUES (N'D71J9T4NYA', N'用戶資料報表', N'User.xlsx', N'youremail@gmail.com', N'select Name,Account,DeptId,Status 
from dbo.XpUser
where status=1
order by Id', 1)
GO
INSERT [dbo].[XpFlow] ([Id], [Code], [Name], [Portrait], [Status]) VALUES (N'5ZM5H6ED1A', N'Leave', N'請假', 1, 1)
INSERT [dbo].[XpFlow] ([Id], [Code], [Name], [Portrait], [Status]) VALUES (N'5ZMDKNA0CA', N'Test1', N'測試1', 1, 1)
INSERT [dbo].[XpFlow] ([Id], [Code], [Name], [Portrait], [Status]) VALUES (N'D6Z38YPM2A', N'Test2', N'測試2', 1, 1)
GO
INSERT [dbo].[XpFlowLine] ([Id], [FlowId], [StartNode], [EndNode], [CondStr], [Sort]) VALUES (N'5ZM8EBAEMA', N'5ZM5H6ED1A', N'5ZM5H6EFGA', N'5ZM5H6EGHA', N'', 0)
INSERT [dbo].[XpFlowLine] ([Id], [FlowId], [StartNode], [EndNode], [CondStr], [Sort]) VALUES (N'5ZM8EBAFJA', N'5ZM5H6ED1A', N'5ZM5H6EGHA', N'5ZM5H6EHCA', N'', 1)
INSERT [dbo].[XpFlowLine] ([Id], [FlowId], [StartNode], [EndNode], [CondStr], [Sort]) VALUES (N'5ZM8EBAGPA', N'5ZM5H6ED1A', N'5ZM5H6EHCA', N'5ZM5H6EJBA', N'Hours,GE,24', 2)
GO
INSERT [dbo].[XpFlowNode] ([Id], [FlowId], [Name], [NodeType], [PosX], [PosY], [SignerType], [SignerValue], [PassType], [PassNum]) VALUES (N'5ZM5H6EFGA', N'5ZM5H6ED1A', N'Start', N'S', 430, 30, N'', N'', N'0', NULL)
INSERT [dbo].[XpFlowNode] ([Id], [FlowId], [Name], [NodeType], [PosX], [PosY], [SignerType], [SignerValue], [PassType], [PassNum]) VALUES (N'5ZM5H6EGHA', N'5ZM5H6ED1A', N'代理人', N'N', 410, 140, N'F', N'AgentId', N'0', NULL)
INSERT [dbo].[XpFlowNode] ([Id], [FlowId], [Name], [NodeType], [PosX], [PosY], [SignerType], [SignerValue], [PassType], [PassNum]) VALUES (N'5ZM5H6EHCA', N'5ZM5H6ED1A', N'主管', N'N', 450, 250, N'UM', N'', N'0', NULL)
GO
INSERT [dbo].[XpFlowSign] ([Id], [FlowId], [SourceId], [NodeName], [FlowLevel], [TotalLevel], [SignerId], [SignerName], [SignStatus], [SignTime], [Note]) VALUES (N'5ZMJQQQZZA', N'5ZM5H6ED1A', N'5ZMJQQQBYA', N'Start', 0, 2, N'Alex', N'Alex Chen', N'1', CAST(N'2021-03-07T22:19:00.860' AS DateTime), NULL)
INSERT [dbo].[XpFlowSign] ([Id], [FlowId], [SourceId], [NodeName], [FlowLevel], [TotalLevel], [SignerId], [SignerName], [SignStatus], [SignTime], [Note]) VALUES (N'5ZMJQQR6KA', N'5ZM5H6ED1A', N'5ZMJQQQBYA', N'代理人', 1, 2, N'Nick', N'Nick Wang', N'Y', CAST(N'2021-03-07T22:20:10.060' AS DateTime), NULL)
INSERT [dbo].[XpFlowSign] ([Id], [FlowId], [SourceId], [NodeName], [FlowLevel], [TotalLevel], [SignerId], [SignerName], [SignStatus], [SignTime], [Note]) VALUES (N'5ZMJQQRBCA', N'5ZM5H6ED1A', N'5ZMJQQQBYA', N'主管', 2, 2, N'Nick', N'Nick Wang', N'Y', CAST(N'2021-03-07T22:20:28.310' AS DateTime), NULL)
GO
INSERT [dbo].[XpImportLog] ([Id], [Type], [FileName], [OkCount], [FailCount], [TotalCount], [CreatorName], [Created]) VALUES (N'D6ZMH4PAWA', N'XpUser', N'UserImport.xlsx', 2, 0, 2, N'Peter Lin', CAST(N'2021-12-23T18:48:04.000' AS DateTime))
INSERT [dbo].[XpImportLog] ([Id], [Type], [FileName], [OkCount], [FailCount], [TotalCount], [CreatorName], [Created]) VALUES (N'D6ZMS8SDBA', N'XpUser', N'UserImport.xlsx', 0, 2, 2, N'Peter Lin', CAST(N'2021-12-23T18:54:02.000' AS DateTime))
GO
INSERT [dbo].[XpProg] ([Id], [Code], [Name], [Icon], [Url], [Sort], [AuthRow], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'CmsMsg', N'CmsMsg', N'CmsMsg', NULL, N'/CmsMsg/Read', 11, 0, 1, 1, 1, 1, 0, 0, 1, 0)
INSERT [dbo].[XpProg] ([Id], [Code], [Name], [Icon], [Url], [Sort], [AuthRow], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'CustInput', N'CustInput', N'CustInput', NULL, N'/CustInput/Read', 9, 0, 1, 1, 1, 1, 0, 0, 1, 0)
INSERT [dbo].[XpProg] ([Id], [Code], [Name], [Icon], [Url], [Sort], [AuthRow], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'Leave', N'Leave', N'Leave', NULL, N'/Leave/Read', 1, 1, 1, 1, 1, 1, 0, 0, 1, 0)
GO
INSERT [dbo].[XpRole] ([Id], [Name]) VALUES (N'Adm', N'管理者')
INSERT [dbo].[XpRole] ([Id], [Name]) VALUES (N'All', N'所有人員')
INSERT [dbo].[XpRole] ([Id], [Name]) VALUES (N'D57A8Z8R7A', N'部門主管')
GO
INSERT [dbo].[XpRoleProg] ([Id], [RoleId], [ProgId], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'A01', N'Adm', N'XpUser', 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[XpRoleProg] ([Id], [RoleId], [ProgId], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'A02', N'Adm', N'XpRole', 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[XpRoleProg] ([Id], [RoleId], [ProgId], [FunCreate], [FunRead], [FunUpdate], [FunDelete], [FunPrint], [FunExport], [FunView], [FunOther]) VALUES (N'A03', N'Adm', N'XpProg', 1, 1, 1, 1, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[XpTranLog] ON 

INSERT [dbo].[XpTranLog] ([Sn], [RowId], [TableName], [ColName], [OldValue], [NewValue], [Act], [Created]) VALUES (1, N'Alex', N'XpUser', N'Name', N'Alex Chen', N'Alex Chen2', N'Update', CAST(N'2021-12-24T17:47:13.810' AS DateTime))
INSERT [dbo].[XpTranLog] ([Sn], [RowId], [TableName], [ColName], [OldValue], [NewValue], [Act], [Created]) VALUES (2, N'Alex', N'XpUser', N'Name', N'Alex Chen2', N'Alex Chen', N'Update', CAST(N'2021-12-24T19:09:34.533' AS DateTime))
SET IDENTITY_INSERT [dbo].[XpTranLog] OFF
GO
INSERT [dbo].[XpUserRole] ([Id], [UserId], [RoleId]) VALUES (N'A01', N'Bruce', N'Adm')
INSERT [dbo].[XpUserRole] ([Id], [UserId], [RoleId]) VALUES (N'D56N9NW7WA', N'Peter', N'Adm')
INSERT [dbo].[XpUserRole] ([Id], [UserId], [RoleId]) VALUES (N'D57A8Z97UA', N'Nick', N'D57A8Z8R7A')
GO
ALTER TABLE [dbo].[UserJob] ADD  CONSTRAINT [DF_UserJob_CorpUsers]  DEFAULT ((0)) FOR [CorpUsers]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_AuthRow]  DEFAULT ((0)) FOR [AuthRow]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunCreate]  DEFAULT ((0)) FOR [FunCreate]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunRead]  DEFAULT ((0)) FOR [FunRead]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunUpdate]  DEFAULT ((0)) FOR [FunUpdate]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunDelete]  DEFAULT ((0)) FOR [FunDelete]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunPrint]  DEFAULT ((0)) FOR [FunPrint]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunExport]  DEFAULT ((0)) FOR [FunExport]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunView]  DEFAULT ((0)) FOR [FunView]
GO
ALTER TABLE [dbo].[XpProg] ADD  CONSTRAINT [DF_XpProg_FunOther]  DEFAULT ((0)) FOR [FunOther]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunCreate]  DEFAULT ((0)) FOR [FunCreate]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunRead]  DEFAULT ((0)) FOR [FunRead]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunUpdate]  DEFAULT ((0)) FOR [FunUpdate]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunDelete]  DEFAULT ((0)) FOR [FunDelete]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunPrint]  DEFAULT ((0)) FOR [FunPrint]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunExport]  DEFAULT ((0)) FOR [FunExport]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunView]  DEFAULT ((0)) FOR [FunView]
GO
ALTER TABLE [dbo].[XpRoleProg] ADD  CONSTRAINT [DF_XpRoleProg_FunOther]  DEFAULT ((0)) FOR [FunOther]
GO
--ALTER DATABASE [Hr] SET  READ_WRITE 
--GO
