
/* 1.開始節點 */
.xf-start {
	r: 20; /* 半徑, 沒有單位 */
    fill: #E2F4D7;	
	stroke: #BAE89F;
	stroke-width: 1px;
}
.xf-start-text {
    fill: black;	
}

/* 2.結束節點 */
.xf-end {
	r: 20;
    fill: #FEE1ED	;
	stroke: #FD88BF;
	stroke-width: 1px;
}
.xf-end.on {
	stroke: blue;
	stroke-width: 3px;
}
.xf-end-text {
    fill: black;	
}

/* 3.一般節點 */
.xf-node {
	fill: #DFDEFE;
	stroke: #B6B4E9;
	stroke-width: 1px;
	rx: 5px; /* 水平圓角半徑 */
    ry: 5px; /* 垂直圓角半徑 */	
}
.xf-node.on {
	stroke: blue;
	stroke-width: 3px;
}
.xf-node-text {
    fill: black;	
}

/* 4.自動節點 */
.xf-auto {
	fill: white;
	stroke: black;
	stroke-width: 1px;
}
.xf-auto-text {
    fill: black;	
}

/* 節點文字後的小方塊, 用來拖拉流程線 */
.xf-connector {
	fill: orange;
	stroke: red;
	stroke-width: 1px;
}

/* 流程線 */
.xf-line {
	fill: none;
	stroke: #898484;
	stroke-width: 2px;
	/*stroke-linejoin: round;*/
}
/* temp line 或無迄點 */
.xf-line.off {
	stroke: red;
}

/* 流程線末端箭頭 */
.xf-arrow {
	stroke: #898484;
	stroke-width: 2px;
	stroke-linecap: round;		/*圓邊*/
}
